img {
  object-fit: cover;
}

.added {
  border: 5px solid rgb(0, 102, 255) !important;
}

.card-title {
  height: 150px;
}

#cart,
.skip,
.add,
.rem,
.details {
  background-color: rgb(56, 146, 139) !important;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2 {
  color: rgb(56, 146, 139) !important;
}

#cart span {
  font-size: 26px;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none !important;
}

#img_detail {
  width: 100%;
}
